body {
    background: #000;
    cursor: crosshair;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* 스크롤 제거 */
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
}

h1 {
    width: 100%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 5em;
    font-weight: 900;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;

    background: linear-gradient(45deg, #ff4e50, #f9d423);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    /* 텍스트 그림자 */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.3);
    
    /* 애니메이션 효과 */
    animation: sparkle 2s linear infinite;
}

a {
    text-decoration: none;
}

.ex2 {
    font-size: inherit;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.ex2 a {
    display: block;
    width: 300px;
    height: 100px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 3rem;
    line-height: 100px;
}

.ex2 a:hover {
    text-shadow: 0 0 25px rgb(0, 213, 255);
}

/* 태블릿용 CSS */
@media (max-width:1024px) {

}

/* 모바일용 CSS */
@media (max-width:430px) {
    h1 {
        font-size: 4em;
    }
    
    .ex2 a {
        font-size: 2.5rem; 
    }
}