body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: crosshair;
    transition: background-image 1s ease-in-out;
    background-color: rgba(0, 0, 0, 0.8); /* 불투명도 설정 */
    color: #e0e0e0;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    padding: 0;
}


body.loading {
    opacity: 0.5;
}



h2 {
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'MangoByeolbyeol';
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
}

.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px; /* Adjust padding to match header height */
    background-size: cover;
}

/* song */
#congratulations-section {
    text-align: center;
}

#play-song-btn {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #bb86fc;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

#play-song-btn:hover {
    background-color: #9a68cc;
}

.lyrics-container {
    font-size: 1.3em;
    max-width: 350px;
    width: 100%;
    height: 250px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-family: 'ONE-Mobile-POP';
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.lyric-line {
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.lyric-line.current {
    font-size: 1.2em;
    font-weight: bold;
    opacity: 1;
}

@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MangoByeolbyeol';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoByeolbyeol.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}